@{
	var temp = this.ViewContext.RouteData.Values["controller"];
	string lang = "UA";
	if (temp != null)
	{
		lang = this.ViewContext.RouteData.Values["controller"].ToString();
	}
	string vechiles;
	string needs;
	string finance;
	string about;
	string team;
	string contact;
	string enActive = "";
	string uaActive = "";
	string frActive = "";
	string deActive = "";
	switch (lang)
	{
		case "EN":
			vechiles = "Vechiles";
			needs = "Constant Needs";
			finance = "Finance Aid";
			about = "About Us";
			team = "Our Team";
			contact = "Contact Us";
			enActive = "active";
			uaActive = "";
			frActive = "";
			deActive = "";
			break;
		case "FR":
			vechiles = "Véhicules de l'armée";
			needs = "Besoins permanents";
			finance = "L'aide financière";
			about = "À propos de nous";
			team = "Notre équipe";
			contact = "Contacts";
			frActive = "active";
			enActive = "";
			uaActive = "";
			deActive = "";
			break;
		case "DE":
			vechiles = "Autos für die Armee";
			needs = "Hilfe bei Material und technischer Ausstattung";
			finance = "Hilfe mit Geld";
			about = "Über uns";
			team = "Unser Team";
			contact = "Kontakte";
			deActive = "active";
			enActive = "";
			uaActive = "";
			frActive = "";
			break;
		default:
			vechiles = "Авто";
			needs = "Потреби";
			finance = "Фінансова";
			about = "Про нас";
			team = "Команда";
			contact = "Контакти";
			uaActive = "active";
			enActive = "";
			frActive = "";
			deActive = "";
			break;
	}
}

<div class="btn-group tn-group-sm float-end">
	<a onclick="location.href='@Url.Action("About","UA")'" class="btn btn-outline-primary @uaActive">UA</a>
	<a onclick="location.href='@Url.Action("About","EN")'" class="btn btn-outline-primary @enActive">EN</a>
	<a onclick="location.href='@Url.Action("About","FR")'" class="btn btn-outline-primary @frActive">FR</a>
	<a onclick="location.href='@Url.Action("About","DE")'" class="btn btn-outline-primary @deActive">DE</a>
</div>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
	<div class="container-fluid">
		<a class="navbar-brand" asp-area="" asp-controller=@lang asp-action="About"><img src="https://legion-foundation.org/img/logo.png" width=100px; height=100px; /></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>




		<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
			<ul class="navbar-nav flex-grow-1">
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="" asp-controller=EN asp-action="Index">Homepage</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="" asp-controller=@lang asp-action="Vechiles">@vechiles</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="" asp-controller=@lang asp-action="Needs">@needs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="" asp-controller=@lang asp-action="Finance">@finance</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="" asp-controller=@lang asp-action="About">@about</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="" asp-controller=@lang asp-action="Team">@team</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="" asp-controller=@lang asp-action="Contact">@contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="" asp-controller=EN asp-action="Details">Details</a>
				</li>
			</ul>
			<partial name="_LoginPartial" />
		</div>
	</div>
</nav>