@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer T
@{
	var tempController = this.ViewContext;
	var tempAction = this.ViewContext.RouteData.Values["culture"];
	
	string lang = "EN";
	string view = "Index";
	if (tempController != null)
	{
		//lang = this.ViewContext.RouteData.Values["controller"].ToString();
	}
	if (tempAction != null)
	{
		view = this.ViewContext.RouteData.Values["action"].ToString();
	}
	string enActive = "";
	string uaActive = "";
	string frActive = "";
	string deActive = "";
	switch (lang)
	{
		case "EN":
			enActive = "active";
			uaActive = "";
			frActive = "";
			deActive = "";
			break;
		case "FR":
			frActive = "active";
			enActive = "";
			uaActive = "";
			deActive = "";
			break;
		case "DE":
			deActive = "active";
			enActive = "";
			uaActive = "";
			frActive = "";
			break;
		default:
			uaActive = "active";
			enActive = "";
			frActive = "";
			deActive = "";
			break;
	}
}



<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

	<div class="container-fluid">
		<a class="navbar-brand" asp-area="" asp-controller=@lang asp-action="Index"><img src="https://legion-foundation.org/img/logo.png" width=100px; height=100px; /></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
			<ul class="navbar-nav flex-grow-1">
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="" asp-controller=@lang asp-action="Index">@T["Home"]</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="" asp-controller=@lang asp-action="Vehicles">@T["Vehicles"]</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="" asp-controller=@lang asp-action="Needs">@T["Constant Needs"]</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="" asp-controller=@lang asp-action="Finance">@T["Finance Aid"]</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="" asp-controller=@lang asp-action="About">@T["About Us"]</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="" asp-controller=@lang asp-action="Team">@T["Our Team"]</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="" asp-controller=@lang asp-action="Contact">@T["Contact Us"]</a>
				</li>
			</ul>
			@*<div class="langbar btn-group tn-group-sm">
				<a onclick="location.href='@Url.Action(@view,"UA")'" class="btn btn-outline-primary @uaActive">UA</a>
				<a onclick="location.href='@Url.Action(@view,"EN")'" class="btn btn-outline-primary @enActive">EN</a>
				<a onclick="location.href='@Url.Action(@view,"FR")'" class="btn btn-outline-primary @frActive">FR</a>
				<a onclick="location.href='@Url.Action(@view,"DE")'" class="btn btn-outline-primary @deActive">DE</a>
			</div>*@
			<partial name="_LoginPartial" />

		</div>
	</div>
</nav>