@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer T
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions

@{
	var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
	var cultureList = locOptions.Value.SupportedUICultures.Select(x => new SelectListItem { Value = x.Name, Text = char.ToUpper(x.NativeName[0]) + x.NativeName.Substring(1) }).ToList();
	var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}


<div class="logo float-start">
	<a asp-area="" asp-controller="Home" asp-action="Index">
		<img src="/images/logo.png" style="height: 100%" />
	</a>
</div>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3" style="padding: 0 0 0 11vw;">
	<button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
		<ul class="navbar-nav flex-grow-1">
			<li class="nav-item">
				<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">@T["Home"]</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="Needs">@T["Constant Needs"]</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="About">@T["About Us"]</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="Contact">@T["Contact Us"]</a>
			</li>			
			<li class="nav-item">
				<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Gallery">@T["Gallery"]</a> 
			</li>
			<li class="nav-item">
				<a href="#Finance"><button type="button" class="btn btn-danger btn-lg">@T["DONATE"]</button></a>
			</li>
		</ul>
	</div>
	<span class="d-flex">
		<form asp-action="CultureManagement" asp-controller="Home" method="post" asp-route-returnUrl="@returnUrl">
			<select name="culture" class="btn-secondary" asp-for="@culture.RequestCulture.UICulture.Name" asp-items="cultureList" onchange="this.form.submit()"></select>
		</form>
	</span>
</nav>