@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer T
@{
    ViewData["Title"] = @T["Vehicles"];
}

<div>
    <h4>@T["Vehicles for the Armed Forces of Ukraine"]</h4>
    <p>@T["Currently, the demand for military transport far exceeds the capability of state support."]</p>
    <p>@T["The army needs vehicles to:"]</p>
    <ul>
        <li>@T["increase the mobility of troops"]</li>
        <li>@T["improve the material and technical capabilities of units"]</li>
        <li>@T["save the lives of soldiers"]</li>
    </ul>
    <p>@T["The army needs diesel pickups, SUVs, minibuses, and other all-terrain vehicles. This fund will use your donations on the necessary transport for the Armed Forces of Ukraine."]</p>
    <img src="https://legion-foundation.org/img/auto.jpeg" class="img-fluid" />
    <h5><b><u>@T["Every dollar will help save lives!"]</u></b></h5>
</div>
