@model LegionWebApp.Models.GalleryItem
@using LegionWebApp.Models;
@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization;
@inject IViewLocalizer T;
@{
	string cdnLink = Environment.GetEnvironmentVariable("Spaces_CDN");
	int maxDisplay = Model.MaxDisplay;
}

@if (Model != null)
{
	<div class="feed-post">
		<div class="post-header">
			<img src="~/images/logo.png" class="profile-picture">
			<div class="post-info">
				<div class="username">@T["Legion Foundation"]</div>
				<div class="post-time">
					@if (Model.Date != null)
					{
						@T[Model.Date]
					}
				</div>
			</div>
		</div>
		<div class="post-content">
			@if (Model.Title != null)
			{
				@T[@Model.Title]
			}
		</div>
		<div class="container post-media">
			<div class="row row-cols-2 row-cols-sm-4" data-hidden-count="@((Model.Media.Count() - maxDisplay).ToString())">
				@if (Model.Media != null)
				{
					int count = 0;
					foreach (var media in Model.Media.OrderBy(m => m.DisplayOrder))
					{
						count++;

						<div class="col-md-@media.Col.Replace("col-", "") col-6">
							<div class="media-item">
								@if (count == maxDisplay && Model.Media.Count() > maxDisplay)
								{
									<div class="count-overlay">
										<div class="count-overlay-text">+@((Model.Media.Count() - maxDisplay).ToString())</div>
										@if (media is Image image)
										{
											<img class="lazy smallMedia first" src="@($"{cdnLink}{Model.Date + "/small/" + image.Link}")" data-src="@($"{cdnLink}{Model.Date + "/" + image.Link}")" />
										}
										else if (media is Video video)
										{
											<video class="lazy smallMedia first" disablePictureInPicture preload="none" controls controlslist="noplaybackrate nodownload nofullscreen" src="@($"{cdnLink}{Model.Date + "/" + video.Link}")" @(video.Poster != null ? $"poster={cdnLink}{Model.Date}/thumbnail/{video.Poster}" : "") type="video/mp4"></video>
										}
									</div>
								}
								else if (count >= maxDisplay && Model.Media.Count() >= maxDisplay)
								{
									if (media is Image image)
									{
										<img class="lazy smallMedia second" data-src="@($"{cdnLink}{Model.Date + "/" + image.Link}")" />
									}
									else if (media is Video video)
									{
										<video class="lazy smallMedia second" disablePictureInPicture preload="none" controls controlslist="noplaybackrate nodownload nofullscreen" data-src="@($"{cdnLink}{Model.Date + "/" + video.Link}")" @(video.Poster != null ? $"poster={cdnLink}{Model.Date}/thumbnail/{video.Poster}" : "") type="video/mp4"></video>
									}
								}
								else
								{
									if (media is Video video)
									{
										<video class="lazy smallMedia third" disablePictureInPicture preload="none" controls controlslist="noplaybackrate nodownload nofullscreen" src="@($"{cdnLink}{Model.Date + "/" + video.Link}")" @(video.Poster != null ? $"poster={cdnLink}{Model.Date}/thumbnail/{video.Poster}" : "") type="video/mp4"></video>
									}
									else if (media is Image image)
									{
										<img class="lazy smallMedia third" src="@($"{cdnLink}{Model.Date + "/small/" + image.Link}")" data-src="@($"{cdnLink}{Model.Date + "/" + image.Link}")" />
									}
								}
							</div>
						</div>
					}
				}
			</div>
		</div>
	</div>
}
