@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer T
@{
	ViewData["Title"] = @T["About Us"];

}

<div id="About" class="card">
	<div class="card-body">
		<h4 class="card-title">@T["About Us"]</h4>
		<div class="card-text">
			<p>@T["Charitable Foundation «Legion» was founded at the end of April 2022 in Kyiv. The fund's activities are aimed at material and technical support for the Armed Forces of Ukraine and other units operating in hostile environments protecting the civilian population, peaceful cities, and the sovereignty of Ukraine. The fund will not be used for lethal aid!"]</p>
			<p>@T["We provide reporting in videos and photos, documents, and acts of transfer."]</p>
			<p>@T["Since the invasion began on February 24th, the world was shocked by the Russian military's targeting of civilians and children. Russian artillery and rockets continue to destroy civilian infrastructure, homes, and communities. Inhabitants of captured territories suffer from the daily brutality of Russian military occupation."]</p>
			<p>@T["Despite ongoing international support from our European and American allies on the diplomatic, economic, and military fronts; the soldiers of Ukraine continue to struggle with material and logistics shortages. The Charitable Foundation Legion is in constant contact with the Ukrainian military, that we can quickly respond when need arises. With the help of your donations, the volunteers of the Charitable Foundation “Legion” can become a reliable logistic supplier for our defenders."]</p>
			<h5><b><u>@T["By helping us, you will be saving the lives of Ukrainian defenders. Their families are waiting for them to return home!"]</u></b></h5>
		</div>
	</div>
</div>