@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer T
@{
    ViewData["Title"] = @T["Contact Us"];
}

<div>
    <h4>@T["Contact Us"]</h4>
    <p><b>@T["Phone"]:</b> +380960177075</p>
    <p><b>@T["E-mail"]:</b> legion.charity@gmail.com</p>
    <p><b>@T["Address"]:</b> @T["Kyiv, 45 Peremohy Avenue"] @T["Postal address"]: @T["03142 Kyiv -142, post office 28"]</p>
    <p><b>@T["We are on social media"]:</b></p>
    <p><a href="https://www.facebook.com/charitable.fund.legion">Facebook</a> <a href="https://www.instagram.com/cf_legion/">Instagram</a>  <a href="#">Twitter</a></p>
</div>
