@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer T
@{
	ViewData["Title"] = @T["Contact Us"];
}

<div id="Contact" class="card">
	<div class="card-body">
		<h4 class="card-title">@T["Contact Us"]</h4>
		<div class="card-text">
			<table class="table">
				<tbody>
@*					<tr>
						<td><b>@T["Phone"]:</b></td>
						<td style="width: 80%;"><a href="phone:+380960177075">+380960177075</a></td>
					</tr>*@
					<tr>
						<td><b>@T["E-mail"]:</b></td>
						<td><a href="mailto:legion.charity@gmail.com">legion.charity@gmail.com</a></td>
					</tr>
					<tr>
						<td><b>@T["Address"]:</b></td>
						<td>@T["Kyiv, 45 Peremohy Avenue"] @T["Postal address"]: @T["03142, Kyiv-142, PO Box 28"]</td>
					</tr>
					<tr>
						<td><b>@T["Postal address"]:</b></td>
						<td>@T["03142, Kyiv-142, PO Box 28"]</td>
					</tr>
					<tr>
						<td><b>@T["We are on social media"]:</b></td>
						<td>
							<a target="_blank" href="https://www.facebook.com/charitable.fund.legion"><span class="bi bi-facebook icon"></span></a>
							<a target="_blank" href="https://www.instagram.com/cf_legion/"><span class="bi bi-instagram icon"></span></a>
							<a target="_blank" href="https://t.me/cf_legion"><span class="bi bi-telegram icon"></span></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>




