@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer T
@{
	ViewData["Title"] = @T["Our Team"];
}

<style>
	.fullpage {
		overflow: auto;
		display: none;
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat no-repeat;
		background-position: center center;
		background-color: black;
		cursor: zoom-out;
	}

	.prev,
	.next {
		cursor: pointer;
		position: fixed;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -50px;
		color: white;
		font-weight: bold;
		text-decoration: none;
		font-size: 20px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
		-webkit-user-select: none;
		z-index: 9999;
	}

	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

		.prev:hover,
		.next:hover {
			background-color: rgba(0, 0, 0, 0.8);
		}

</style>

<script>
	function CreateModal() {
		const imgs = document.querySelectorAll('.gallery img');
		var modalContent = document.getElementById("ModalContent");
		var oldHtml = modalContent.innerHTML;
		modalContent.innerHTML = "";
		imgs.forEach(img => {
			modalContent.innerHTML += '<div class="mySlides fullpage"style="background-image: url(' + img.src + ');" onclick="closeModal()"></div>';
		});
		modalContent.innerHTML += oldHtml;
	}

	function openModal() {
		CreateModal();
		document.getElementById("ModalContent").style.display = "block";
		var x = document.getElementsByTagName("BODY")[0];
		x.style.overflow = "hidden";
	}

	function closeModal() {
		document.getElementById("ModalContent").style.display = "none";
		var x = document.getElementsByTagName("BODY")[0];
		x.style.overflow = "auto";
	}

	var slideIndex = 1;
	showSlides(slideIndex);

	function plusSlides(n) {
		showSlides(slideIndex += n);
	}

	function currentSlide(n) {
		showSlides(slideIndex = n);
	}

	function showSlides(n) {
		var i;
		var slides = document.getElementsByClassName("mySlides");
		if (n > slides.length) { slideIndex = 1 }
		if (n < 1) { slideIndex = slides.length }
		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}
		slides[slideIndex - 1].style.display = "block";
	}


</script>

<div id="ModalContent" class="modal">
	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>





<div class="card" style="background-color:rgba(255, 255, 255, 0.1);">
	<div class="card-header text-light">
		@T["On October 1, IZUM of the Kharkiv region - (together with our partners - the Front Line Charitable Fund) delivered humanitarian aid to the residents of the city of IZUM, where 80% of the houses were destroyed. Food, medicines, clothes, household chemicals and hygiene products were handed over to residents."]
	</div>
	<div class="card-body">
		<div class="row row-cols-2 row-cols-md-4 g-4">
			<div class="col">
				<div class="card gallery">
					<video controls disablePictureInPicture controlsList="noplaybackrate nodownload" class="card-img-top card-img-bottom">
						<source src="https://legion-foundation.s3.eu-central-1.amazonaws.com/01.10.22/1.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<video controls disablePictureInPicture controlsList="noplaybackrate nodownload" poster="~/images/Gallery/01.10.22/thumbnail.PNG" class="card-img-top card-img-bottom">
						<source src="https://legion-foundation.s3.eu-central-1.amazonaws.com/01.10.22/2.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<video controls disablePictureInPicture controlsList="noplaybackrate nodownload" class="card-img-top card-img-bottom">
						<source src="https://legion-foundation.s3.eu-central-1.amazonaws.com/01.10.22/3.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<video controls disablePictureInPicture controlsList="noplaybackrate nodownload" class="card-img-top card-img-bottom">
						<source src="https://legion-foundation.s3.eu-central-1.amazonaws.com/01.10.22/4.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			</div>
			<div class="row row-cols-4 row-cols-md-6 g-4">
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/01.10.22/01 - 01.10.22.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(1)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images//Gallery/01.10.22/02 - 01.10.22.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(2)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images//Gallery/01.10.22/03 - 01.10.22.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(3)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images//Gallery/01.10.22/04 - 01.10.22.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(4)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images//Gallery/01.10.22/05 - 01.10.22.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(5)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images//Gallery/01.10.22/06 - 01.10.22.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(6)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images//Gallery/01.10.22/07 - 01.10.22.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(7)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images//Gallery/01.10.22/08 - 01.10.22.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(8)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images//Gallery/01.10.22/09 - 01.10.22.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(9)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images//Gallery/01.10.22/10 - 01.10.22.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(10)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images//Gallery/01.10.22/11 - 01.10.22.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(11)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images//Gallery/01.10.22/12 - 01.10.22.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(12)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images//Gallery/01.10.22/13 - 01.10.22.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(13)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images//Gallery/01.10.22/14 - 01.10.22.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(14)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images//Gallery/01.10.22/15 - 01.10.22.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(15)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images//Gallery/01.10.22/16 - 01.10.22.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(16)" alt="...">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="card" style="background-color:rgba(255, 255, 255, 0.1);">
	<div class="card-header text-light">
		@T["On September 19, Humaritarian aid has been dispached from Kyiv locals to Lypivka, Kyiv region."]
	</div>
	<div class="card-body">
		<div class="row row-cols-2 row-cols-md-4 g-4">
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/19.09.22/1.jpg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(17)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/19.09.22/2.jpg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(18)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/19.09.22/3.jpg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(19)" alt="...">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="card" style="background-color:rgba(255, 255, 255, 0.1);">
	<div class="card-header text-light">
		@T["On September 11, Humaritarian aid has been dispached from Kyiv locals to Andriivka, Kyiv region."]
	</div>
	<div class="card-body">
		<div class="row row-cols-2 row-cols-md-4 g-4">
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/11.09.22/1.jpg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(20)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/11.09.22/2.jpg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(21)" alt="...">
				</div>
			</div>
		</div>
	</div>
</div>


<div class="card" style="background-color:rgba(255, 255, 255, 0.1);">
	<div class="card-header text-light">
		@T["10 August, Thank you letter from Main Military Medical Clinical Center."]
	</div>
	<div class="card-body">
		@{
			var cultureCookieValue = CultureInfo.CurrentCulture.Name;
			if (cultureCookieValue == "uk")
			{
				<div class="row row-cols-1 row-cols-md-4 g-4">
					<div class="col">
						<div class="card gallery">
							<img src="~/images/Gallery/10.08.22/1.jpg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(22)" alt="...">
						</div>

					</div>
				</div>
			}
			else
			{
				<div class="row row-cols-1 row-cols-md-1 g-4">
					<div class="col">
						<div class="card gallery ">
							<div class="row">
								<div class="col-md-4">
									<img src="~/images/Gallery/10.08.22/1.jpg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(22)" alt="...">
								</div>
								<div class="col-md-8">
									<h4 class="card-title">@T["State Border Guard Service of Ukraine Main Military Medical Clinical Center"]</h4>
									<h5 class="card-title">@T["To the director of the Charitable Foundation LEGION Alexander Nikiforov"]</h5>
									<p class="card-text"><i>@T["On behalf of ourselves and on behalf of our team, we express our sincere gratitude to you for this selfless help to our Main Center. Your help in the form of medical products and hygiene products is an invaluable contribution not only to the cause of medical care, but also to the Sovereignty of our Country, the provision of medical care to our military personnel, and the feeling of support from the staff of our Main Center. Good deeds do not go unmarked - they shine like beacons to those who are waiting for help. I am sure that your example is indicative for other benefactors. By giving help at this difficult time for all of us, you give not just medicines, but give hope that together we will overcome any adversity. May your kindness and generosity return to you a hundredfold. I wish you all the best, health and prosperity. I look forward to further fruitful cooperation within the support of our Main Center."]</i></p>
									<p class="card-text"><i><b>@T["Head of the Main Center Colonel of the Medical Service - Volodymyr Lopaychuk August 10, 2022"]</b></i></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		}
	</div>
</div>

<div class="card" style="background-color:rgba(255, 255, 255, 0.1);">
	<div class="card-header text-light">
		@T["On July 29, diapers and napkins for the care of the wounded were taken to the second hospital."]
	</div>
	<div class="card-body">
		<div class="row row-cols-3 row-cols-md-4 g-4">
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/29.07.22/3.PNG" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(23)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/29.07.22/1.PNG" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(24)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/29.07.22/2.PNG" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(25)" alt="...">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="card" style="background-color:rgba(255, 255, 255, 0.1);">
	<div class="card-header text-light">
		@T["On July 28, 2022, they helped the hospital. Diapers and napkins were taken away - for the care of the wounded."]
	</div>
	<div class="card-body">
		<div class="row row-cols-3 row-cols-md-4 g-4">
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/28.07.22/1.PNG" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(26)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/28.07.22/2.PNG" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(27)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/28.07.22/3.PNG" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(28)" alt="...">
				</div>
			</div>

			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/28.07.22/4.PNG" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(29)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/28.07.22/5.PNG" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(30)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<div class="row g-0">
						<img src="~/images/Gallery/28.07.22/7.jpg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(31)" alt="...">
					</div>
					<div class="col-md-12">
						<b>@T["Thank you letter from Hospital for humanitarian aid.<br />"]</b>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card gallery">
					<video controls disablePictureInPicture controlsList="noplaybackrate nodownload" class="card-img-top card-img-bottom">
						<source src="https://legion-foundation.s3.eu-central-1.amazonaws.com/28.07.22/1.mp4" type="video/mp4">
					</video>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="card" style="background-color:rgba(255, 255, 255, 0.1);">
	<div class="card-header text-light">
		@T["On June 26, together with our partner, the Charitable Foundation «Rear Line» we took humanitarian aid to the Borodyanka community, which was destroyed by the Russian army, and to the village of Andriyivka, Bucha district."]
	</div>
	<div class="card-body">
		<div class="row row-cols-3 row-cols-md-4 g-4" onload="getPics()">
			<div class="col">
				<div class="card gallery">
					<video controls disablePictureInPicture controlsList="noplaybackrate nodownload" class="card-img-top card-img-bottom">
						<source src="https://legion-foundation.s3.eu-central-1.amazonaws.com/26.06.22/1.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<video controls disablePictureInPicture controlsList="noplaybackrate nodownload" class="card-img-top card-img-bottom">
						<source src="https://legion-foundation.s3.eu-central-1.amazonaws.com/26.06.22/2.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<video controls disablePictureInPicture controlsList="noplaybackrate nodownload" class="card-img-top card-img-bottom">
						<source src="https://legion-foundation.s3.eu-central-1.amazonaws.com/26.06.22/3.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<video controls disablePictureInPicture controlsList="noplaybackrate nodownload" class="card-img-top card-img-bottom">
						<source src="https://legion-foundation.s3.eu-central-1.amazonaws.com/26.06.22/4.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<video controls disablePictureInPicture controlsList="noplaybackrate nodownload" class="card-img-top card-img-bottom">
						<source src="https://legion-foundation.s3.eu-central-1.amazonaws.com/26.06.22/5.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<video controls disablePictureInPicture controlsList="noplaybackrate nodownload" class="card-img-top card-img-bottom">
						<source src="https://legion-foundation.s3.eu-central-1.amazonaws.com/26.06.22/6.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<video controls disablePictureInPicture controlsList="noplaybackrate nodownload" class="card-img-top card-img-bottom">
						<source src="https://legion-foundation.s3.eu-central-1.amazonaws.com/26.06.22/7.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<video controls disablePictureInPicture controlsList="noplaybackrate nodownload" class="card-img-top card-img-bottom">
						<source src="https://legion-foundation.s3.eu-central-1.amazonaws.com/26.06.22/8.mp4" type="video/mp4">
					</video>
				</div>
			</div>
		</div>


		<div class="row row-cols-4 row-cols-md-5 g-4">
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/1.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(32)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/1.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(33)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/2.jpeg" class="card-img-top card-img-bottom" onclick="openModal(); currentSlide(34)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/3.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(35)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/4.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(36)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/5.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(37)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/6.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(38)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/7.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(39)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/8.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(40)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/9.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(41)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/10.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(42)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/11.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(43)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/12.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(44)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/13.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(45)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/14.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(46)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/15.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(47)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/16.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(48)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/17.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(49)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/18.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(50)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/19.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(51)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/21.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(52)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/22.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(53)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/40.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(54)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/41.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(55)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/42.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(56)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/29.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(57)" alt="...">
				</div>
			</div>
			<div class="col">
				<div class="card gallery">
					<img src="~/images/Gallery/26.06.22/23.jpeg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(58)" alt="...">
				</div>
			</div>
		</div>
	</div>
</div>
