@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer T
@{
	ViewData["Title"] = @T["Our Team"];
	int i = 1;
	GalleryItem _01_10_22 = new GalleryItem("01/10/22");
	GalleryItem _19_09_22 = new GalleryItem("19/09/22");
	GalleryItem _11_09_22 = new GalleryItem("11/09/22");
	GalleryItem _10_08_22 = new GalleryItem("10/08/22");
	GalleryItem _29_07_22 = new GalleryItem("29/07/22");
	GalleryItem _28_07_22 = new GalleryItem("28/07/22");
	GalleryItem _26_06_22 = new GalleryItem("26/06/22");
	_01_10_22.Title = "On October 1, IZUM of the Kharkiv region - (together with our partners - the Front Line Charitable Fund) delivered humanitarian aid to the residents of the city of IZUM, where 80% of the houses were destroyed. Food, medicines, clothes, household chemicals and hygiene products were handed over to residents.";
	_01_10_22.Column = 6;
	_01_10_22.Video.Add(new Video("https://legion-foundation.s3.eu-central-1.amazonaws.com/01.10.22/1.mp4"));
	_01_10_22.Video.Add(new Video("https://legion-foundation.s3.eu-central-1.amazonaws.com/01.10.22/2.mp4", "/images/Gallery/01.10.22/thumbnail.PNG"));
	_01_10_22.Video.Add(new Video("https://legion-foundation.s3.eu-central-1.amazonaws.com/01.10.22/3.mp4"));
	_01_10_22.Video.Add(new Video("https://legion-foundation.s3.eu-central-1.amazonaws.com/01.10.22/4.mp4"));
	_01_10_22.Image = new string[]
	{
		"/images/Gallery/01.10.22/01.jpeg",
		"/images/Gallery/01.10.22/02.jpeg",
		"/images/Gallery/01.10.22/03.jpeg",
		"/images/Gallery/01.10.22/04.jpeg",
		"/images/Gallery/01.10.22/05.jpeg",
		"/images/Gallery/01.10.22/06.jpeg",
		"/images/Gallery/01.10.22/07.jpeg",
		"/images/Gallery/01.10.22/08.jpeg",
		"/images/Gallery/01.10.22/09.jpeg",
		"/images/Gallery/01.10.22/10.jpeg",
		"/images/Gallery/01.10.22/11.jpeg",
		"/images/Gallery/01.10.22/12.jpeg",
		"/images/Gallery/01.10.22/13.jpeg",
		"/images/Gallery/01.10.22/14.jpeg",
		"/images/Gallery/01.10.22/15.jpeg",
		"/images/Gallery/01.10.22/16.jpeg"
	};
	_19_09_22.Title = "On September 19, Humaritarian aid has been dispached from Kyiv locals to Lypivka, Kyiv region.";
	_19_09_22.Column = 4;
	_19_09_22.Image = new string[]
	{
		"/images/Gallery/19.09.22/1.jpg",
		"/images/Gallery/19.09.22/2.jpg",
		"/images/Gallery/19.09.22/3.jpg"
	};
	_11_09_22.Title = "On September 11, Humaritarian aid has been dispached from Kyiv locals to Andriivka, Kyiv region.";
	_11_09_22.Column = 4;
	_11_09_22.Image = new string[]
	{
		"/images/Gallery/11.09.22/1.jpg",
		"/images/Gallery/11.09.22/2.jpg"
	};
	_10_08_22.Title = "10 August, Thank you letter from Main Military Medical Clinical Center.";
	_10_08_22.Column = 4;
	_10_08_22.HasText = true;
	_10_08_22.Image = new string[]
	{
		"/images/Gallery/10.08.22/1.jpg"
	};
	_29_07_22.Title = "On July 29, diapers and napkins for the care of the wounded were taken to the second hospital.";
	_29_07_22.Column = 4;
	_29_07_22.Image = new string[]
	{
		"/images/Gallery/29.07.22/3.PNG",
		"/images/Gallery/29.07.22/1.PNG",
		"/images/Gallery/29.07.22/2.PNG"
	};
	_28_07_22.Title = "On July 28, 2022, they helped the hospital. Diapers and napkins were taken away - for the care of the wounded.";
	_28_07_22.Column = 4;
	_28_07_22.Video.Add(new Video("https://legion-foundation.s3.eu-central-1.amazonaws.com/28.07.22/1.mp4"));
	_28_07_22.Image = new string[]
	{
		"/images/Gallery/28.07.22/1.PNG",
		"/images/Gallery/28.07.22/2.PNG",
		"/images/Gallery/28.07.22/3.PNG",
		"/images/Gallery/28.07.22/4.PNG",
		"/images/Gallery/28.07.22/5.PNG"
	};
	_26_06_22.Title = "On June 26, together with our partner, the Charitable Foundation «Rear Line» we took humanitarian aid to the Borodyanka community, which was destroyed by the Russian army, and to the village of Andriyivka, Bucha district.";
	_26_06_22.Column = 6;
	_26_06_22.Video.Add(new Video("https://legion-foundation.s3.eu-central-1.amazonaws.com/26.06.22/1.mp4"));
	_26_06_22.Video.Add(new Video("https://legion-foundation.s3.eu-central-1.amazonaws.com/26.06.22/2.mp4"));
	_26_06_22.Video.Add(new Video("https://legion-foundation.s3.eu-central-1.amazonaws.com/26.06.22/3.mp4"));
	_26_06_22.Video.Add(new Video("https://legion-foundation.s3.eu-central-1.amazonaws.com/26.06.22/4.mp4"));
	_26_06_22.Video.Add(new Video("https://legion-foundation.s3.eu-central-1.amazonaws.com/26.06.22/5.mp4"));
	_26_06_22.Video.Add(new Video("https://legion-foundation.s3.eu-central-1.amazonaws.com/26.06.22/6.mp4"));
	_26_06_22.Video.Add(new Video("https://legion-foundation.s3.eu-central-1.amazonaws.com/26.06.22/7.mp4"));
	_26_06_22.Video.Add(new Video("https://legion-foundation.s3.eu-central-1.amazonaws.com/26.06.22/8.mp4"));
	_26_06_22.Image = new string[]
	{
		"/images/Gallery/26.06.22/1.jpeg",
		"/images/Gallery/26.06.22/2.jpeg",
		"/images/Gallery/26.06.22/3.jpeg",
		"/images/Gallery/26.06.22/4.jpeg",
		"/images/Gallery/26.06.22/5.jpeg",
		"/images/Gallery/26.06.22/6.jpeg",
		"/images/Gallery/26.06.22/7.jpeg",
		"/images/Gallery/26.06.22/8.jpeg",
		"/images/Gallery/26.06.22/9.jpeg",
		"/images/Gallery/26.06.22/10.jpeg",
		"/images/Gallery/26.06.22/11.jpeg",
		"/images/Gallery/26.06.22/12.jpeg",
		"/images/Gallery/26.06.22/13.jpeg",
		"/images/Gallery/26.06.22/14.jpeg",
		"/images/Gallery/26.06.22/15.jpeg",
		"/images/Gallery/26.06.22/16.jpeg",
		"/images/Gallery/26.06.22/17.jpeg",
		"/images/Gallery/26.06.22/18.jpeg",
		"/images/Gallery/26.06.22/19.jpeg",
		"/images/Gallery/26.06.22/20.jpeg",
		"/images/Gallery/26.06.22/21.jpeg",
		"/images/Gallery/26.06.22/22.jpeg",
		"/images/Gallery/26.06.22/23.jpeg",
		"/images/Gallery/26.06.22/24.jpeg",
		"/images/Gallery/26.06.22/25.jpeg",
		"/images/Gallery/26.06.22/26.jpeg"
	};
	List<GalleryItem> allItems = new List<GalleryItem>();
	allItems.Add(_01_10_22);
	allItems.Add(_19_09_22);
	allItems.Add(_11_09_22);
	allItems.Add(_10_08_22);
	allItems.Add(_29_07_22);
	allItems.Add(_28_07_22);
	allItems.Add(_26_06_22);
}
<!-- Modal -->
<style>
	.fullpage {
		overflow: auto;
		display: none;
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat no-repeat;
		background-position: center center;
		background-color: black;
		cursor: zoom-out;
	}

	.prev,
	.next {
		cursor: pointer;
		position: fixed;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -50px;
		color: white;
		font-weight: bold;
		text-decoration: none;
		font-size: 20px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
		-webkit-user-select: none;
		z-index: 9999;
	}

	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

		.prev:hover,
		.next:hover {
			background-color: rgba(0, 0, 0, 0.8);
		}

</style>
<script>
	function CreateModal() {
		const imgs = document.querySelectorAll('.gallery img');
		var modalContent = document.getElementById("ModalContent");
		var oldHtml = modalContent.innerHTML;
		modalContent.innerHTML = "";
		imgs.forEach(img => {
			modalContent.innerHTML += '<div class="mySlides fullpage"style="background-image: url(' + img.src + ');" onclick="closeModal()"></div>';
		});
		modalContent.innerHTML += oldHtml;
	}
	function openModal() {
		CreateModal();
		document.getElementById("ModalContent").style.display = "block";
		var x = document.getElementsByTagName("BODY")[0];
		x.style.overflow = "hidden";
	}
	function closeModal() {
		document.getElementById("ModalContent").style.display = "none";
		var x = document.getElementsByTagName("BODY")[0];
		x.style.overflow = "auto";
	}
	var slideIndex = 1;
	showSlides(slideIndex);
	function plusSlides(n) {
		showSlides(slideIndex += n);
	}
	function currentSlide(n) {
		showSlides(slideIndex = n);
	}
	function showSlides(n) {
		var i;
		var slides = document.getElementsByClassName("mySlides");
		if (n > slides.length) { slideIndex = 1 }
		if (n < 1) { slideIndex = slides.length }
		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}
		slides[slideIndex - 1].style.display = "block";
	}
</script>
<div id="ModalContent" class="modal">
	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<!-- Modal End -->
@{
	var cultureCookieValue = CultureInfo.CurrentCulture.Name;
	foreach (var item in allItems)
	{
		if (item.Name == "10/08/22" && cultureCookieValue != "uk")
		{
			<div class="row row-cols-1 row-cols-md-1 g-4">
				<div class="col">
					<div class="card gallery">
						<div class="row">
							<div class="col-md-4">
								<img src="~/images/Gallery/10.08.22/1.jpg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(@i)" alt="...">
							</div>
							<div class="col-md-8">
								<h4 class="card-title">@T["State Border Guard Service of Ukraine Main Military Medical Clinical Center"]</h4>
								<h5 class="card-title">@T["To the director of the Charitable Foundation LEGION Alexander Nikiforov"]</h5>
								<p class="card-text"><i>@T["On behalf of ourselves and on behalf of our team, we express our sincere gratitude to you for this selfless help to our Main Center. Your help in the form of medical products and hygiene products is an invaluable contribution not only to the cause of medical care, but also to the Sovereignty of our Country, the provision of medical care to our military personnel, and the feeling of support from the staff of our Main Center. Good deeds do not go unmarked - they shine like beacons to those who are waiting for help. I am sure that your example is indicative for other benefactors. By giving help at this difficult time for all of us, you give not just medicines, but give hope that together we will overcome any adversity. May your kindness and generosity return to you a hundredfold. I wish you all the best, health and prosperity. I look forward to further fruitful cooperation within the support of our Main Center."]</i></p>
								<p class="card-text"><i><b>@T["Head of the Main Center Colonel of the Medical Service - Volodymyr Lopaychuk August 10, 2022"]</b></i></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			i++;
		}
		else if (item.Name == "28/07/22")
		{
			<div class="card" style="background-color:rgba(255, 255, 255, 0.1);">
				<div class="card-header text-light">
					@T[item.Title]
				</div>
				<div class="card-body">
					<div class="row row-cols-3 row-cols-md-4 g-4">
						@{
							foreach (var image in item.Image)
							{
								<div class="col">
									<div class="card gallery">
										<img src=@image class="card-img-top card-img-bottom" onclick="openModal();currentSlide(@i)" alt="...">
									</div>
								</div>
								i++;
							}
						}
						<div class="col">
							<div class="card gallery">
								<div class="row g-0">
									<img src="~/images/Gallery/28.07.22/6.jpg" class="card-img-top card-img-bottom" onclick="openModal();currentSlide(@i)" alt="...">
									@{
										i++;
									}
								</div>
								<div class="col-md-12">
									<b>@T["Thank you letter from Hospital for humanitarian aid.<br />"]</b>
								</div>
							</div>
						</div>
						@{
							foreach (var video in item.Video)
							{
								<div class="col">
									<div class="card gallery">
										<video controls disablePictureInPicture controlsList="noplaybackrate nodownload" class="card-img-top card-img-bottom" poster=@video.Poster>
											<source src=@video.Link type="video/mp4">
										</video>
									</div>
								</div>
							}
						}
					</div>
				</div>
			</div>
		}
		else
		{
			<div class="card" style="background-color:rgba(255, 255, 255, 0.1);">
				<div class="card-header text-light">
					@T[item.Title]
				</div>
				<div class="card-body">
					<div class="row row-cols-4 row-cols-md-4 g-4">
						@{
							foreach (var video in item.Video)
							{
								<div class="col">
									<div class="card gallery">
										<video controls disablePictureInPicture controlsList="noplaybackrate nodownload" class="card-img-top card-img-bottom" poster=@video.Poster>
											<source src=@video.Link type="video/mp4">
										</video>
									</div>
								</div>
							}
						}
					</div>
					<div class="row row-cols-3 row-cols-md-@item.Column g-4">
						@{
							foreach (var image in item.Image)
							{
								<div class="col">
									<div class="card gallery">
										<img src=@image class="card-img-top card-img-bottom" onclick="openModal();currentSlide(@i)" alt="...">
									</div>
								</div>
								i++;
							}
						}
					</div>
				</div>
			</div>
		}
	}
}