@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer T
@{
	ViewData["Title"] = @T["Vehicles"];
}


<div id="Needs" class="card">
	<div class="card-body">
		<h4 class="card-title">@T["Constant needs of the armed forces of Ukraine"]</h4>
		<div class="card-text">
			<p>@T["Another way to help is to buy equipment for the army and send it to the fund. We will send technical equipment, personal protective equipment, and medicines to military units."]</p>
			<p>@T["The parcel can be sent to our warehouse. Before sending, contact us at:"] <a href="phone:+380960177075">+380960177075</a> @T["or write a letter to"] @T["e-mail"]: <a href="mailto:legion.charity@gmail.com">legion.charity@gmail.com</a></p>
		@*	<ul>
				<li>@T["First aid kit IFAK II"]</li>
				<li>@T["Tactical medical bags (Fully Stocked)"]</li>
				<li>@T["Tactical boots (seasonal, medium height - 6)"]</li>
				<li>@T["Military uniform kits with waterproof jacket and pants ECWCS GEN III Level 6 PACLITE"]</li>
				<li>@T["Tactical gloves (5.11, Mechanix, Blackhawk, Helikon, Oakey)"]</li>
				<li>@T["Tactical belts"]</li>
				<li>@T["Tactical eyewear and ballistic glasses"]</li>
				<li>@T["Encrypted Radios with headset"]</li>
				<li>@T["MOLLE belt & harness"]</li>
				<li>@T["Bulletproof vests (NIJ III+) US Standart protection level 4-5 (Ukrainian DSTU standard)"]</li>
				<li>@T["Helmets (The required standard is NIJ level IIIA)"]</li>
				<li>@T["Shooting Earmuffs (ear protection for shooting)"]</li>
				<li>@T["Rechargeable flashlights"]</li>
				<li>@T["Thermal imaging monoculars (ARCHER ТМА30М/55М) analog: (detection 1700m +, recognition 430m +, identification 215m+)"]</li>
				<li>@T["Tactical periscopes UZI 5x20 CR"]</li>
				<li>@T["Drones: AUTEL EVO II PRO; camera: Yunecc E30Z, CAR EVO II DUAL RUGGED BUNDLE (640T) V2; Walkera Voyager 5"]</li>
				<li>@T["Phone Power Banks"]</li>
				<li>@T["Computer Power Banks"]</li>
				<li>@T["Tactical Backpacks"]</li>
				<li>@T["Army Ration Packs (dehydrated)"]</li>
				<li>@T["Tactical knee pads"]</li>
				<li>@T["Tactical elbow pads"]</li>
			</ul>*@
		</div>

		<div id="carouselNeeds" class="carousel slide carousel-dark" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselNeeds" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselNeeds" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselNeeds" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="card-img-bottom" src="images/supply.jpg" class="img-fluid" />
				</div>
				<div class="carousel-item">
					<img class="card-img-bottom" src="images/meds.jpg" class="img-fluid h-100" />
					<div class="carousel-caption d-none d-md-block">
						<div class="card" style="width: 18rem; margin: 10% 0 0 10%">
							<div class="card-body">
								<h4>@T["Continuous need for medicines for the wounded."]</h4>
							</div>
						</div>
						
					</div>
				</div>
				<div class="carousel-item">
					<img class="card-img-bottom" src="images/auto2.jpg" class="img-fluid" />
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselNeeds" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselNeeds" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>	
		
	</div>
</div>