@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer T
@{
	ViewData["Title"] = @T["Constant Needs"];
}

<div>
    <h4>@T["Constant needs of the armed forces of Ukraine"]</h4>
    <p>@T["Another way to help is to buy equipment for the army and send it to the fund. We will send technical equipment, personal protective equipment, and medicines to military units."]</p>
    <p>@T["The parcel can be sent to our warehouse. Before sending, contact us at: +380960177075 or write a letter to"] @T["E-mail"]: legion.charity@gmail.com</p>
    <ul>
        <li>@T["First aid kit IFAK II"]</li>
        <li>@T["Tactical medical bags (Fully Stocked)"]</li>
        <li>@T["Tactical boots like Lowa (seasonal, medium height - 6)"]</li>
        <li>@T["Military uniform kits with waterproof jacket and pants ECWCS GEN III Level 6 PACLITE"]</li>
        <li>@T["Tactical gloves (5.11, Mechanix, Blackhawk, Helikon, Oakey)"]</li>
        <li>@T["Tactical belts"]</li>
        <li>@T["Tactical eyewear and ballistic glasses"]</li>
        <li>@T["Encrypted Radios with headset"]</li>
        <li>@T["MOLLE belt & harness"]</li>
        <li>@T["Bulletproof vests (NIJ III+) US Standart protection level 4-5 (Ukrainian DSTU standard)"]</li>
        <li>@T["Helmets (The required standard is NIJ level IIIA)"]</li>
        <li>@T["Shooting Earmuffs (ear protection for shooting)"]</li>
        <li>@T["Rechargeable flashlights"]</li>
        <li>@T["Thermal imaging monoculars (ARCHER ТМА30М/55М) analog: (detection 1700m +, recognition 430m +, identification 215m +)"]</li>
        <li>@T["Tactical periscopes UZI 5x20 CR"]</li>
        <li>@T["Drones: AUTEL EVO II PRO; camera: Yunecc E30Z, CAR EVO II DUAL RUGGED BUNDLE (640T) V2; Walkera Voyager 5"]</li>
        <li>@T["Phone Power Banks"]</li>
        <li>@T["Computer Power Banks"]</li>
        <li>@T["Tactical Backpacks"]</li>
        <li>@T["Army Ration Packs (dehydrated)"]</li>
        <li>@T["Tactical knee pads"]</li>
        <li>@T["Tactical elbow pads"]</li>
    </ul>
    <img src="https://legion-foundation.org/img/supply.jpeg" class="img-fluid" />
</div>