@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer T
@{
    ViewData["Title"] = @T["Our Team"];
}

<div id="Team" class="card">
	<div class="card-body">
		<h4 class="card-title">@T["Our Team"]</h4>
		<div class="card-text">
			<h5>@T["Founders"]</h5>
			<p>@T["Project Manager - Mykola Stepenko"]</p>
			<p>@T["Director of the Foundation - Alexander Nikiforov"]</p>
			<h5>@T["Participants"]</h5>
			<ul>
				<li>@T["Volunteer consultant - Yuriy Kondratiev"]</li>
				<li>@T["Media Communications Manager - Anna Melnychenko"]</li>
				<li>@T["Manager in English-speaking countries - Adelina Saharova"]</li>
				<li>@T["Manager in French-speaking countries - Victoria Azarova"]</li>
			</ul>
		</div>
	</div>
</div>












