@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer T
@{
	ViewData["Title"] = @T["Our Team"];
}

<div id="Team" class="card">
	<div class="card-body">
		<h4 class="card-title">@T["Our Team"]</h4>
		<div class="card-text">
			<h5>@T["Founders"]</h5>
			<table class="table">
				<tbody>
					<tr>
						<td>@T["Project Manager"]</td>
						<td style="width: 75%;">@T["Mykola Stepenko"]</td>
					</tr>
					<tr>
						<td>@T["Director of the Foundation"]</td>
						<td>@T["Alexander Nikiforov"]</td>
					</tr>
				</tbody>
			</table>
			<h5>@T["Participants"]</h5>
			<table class="table table-hover table-sm">
				<tbody>
					<tr>
						<td>@T["Volunteer consultant"]</td>
						<td style="width: 75%;">@T["Yuriy Kondratiev"]</td>
					</tr>
					<tr>
						<td>@T["Media Communications Manager"]</td>
						<td>@T["Anna Melnychenko"]</td>
					</tr>
					<tr>
						<td>@T["Manager in English-speaking countries"]</td>
						<td>@T["Adelina Saharova"]</td>
					</tr>
					<tr>
						<td>@T["Manager in French-speaking countries"]</td>
						<td>@T["Victoria Azarova"]</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>