@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer T
@{
	ViewData["Title"] = @T["Our Team"];
}

<div id="Team" class="card">
	<div class="card-body">
		<h4 class="card-title">@T["Founders"]</h4>
		<div class="card-text">
			<table class="table">
				<tbody>
					<tr>
						<td>@T["Project Manager"]</td>
						<td style="width: 80%;">@T["Mykola Stepenko"]</td>
					</tr>
					<tr>
						<td>@T["Director of the Foundation"]</td>
						<td>@T["Alexander Nikiforov"]</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>