@model LegionWebApp.Models.AssignRoleViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer T
@{
	ViewData["Title"] = "Admin Control Panel";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<partial name="RoleAssign" model="Model" />*@




<div class="container">
	<div class="row">
		<div class="col">
			<a class="btn btn-success w-100" asp-area="" asp-controller="Admin" asp-action="GalleryList">@T["Gallery List"]</a>
		</div>
		<div class="col">
			<a class="btn btn-success w-100" asp-area="" asp-controller="Admin" asp-action="GalleryEdit">@T["Gallery Edit"]</a>
		</div>
		<div class="col">
			<a class="btn btn-success w-100" asp-area="" asp-controller="Admin" asp-action="GalleryCreate">@T["Gallery Create"]</a>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<a class="btn btn-success w-100" asp-area="" asp-controller="Admin" asp-action="CultureList">@T["Culture List"]</a>
		</div>
		<div class="col">
			<a class="btn btn-success w-100" asp-area="" asp-controller="Admin" asp-action="CultureEdit">@T["Culture Edit"]</a>
		</div>
		<div class="col">
			<a class="btn btn-success w-100" asp-area="" asp-controller="Admin" asp-action="CultureCreate">@T["Culture Create"]</a>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<a class="btn btn-success w-100" asp-area="" asp-controller="Admin" asp-action="RoleList">@T["Role List"]</a>
		</div>
		<div class="col">
			<a class="btn btn-success w-100" asp-area="" asp-controller="Admin" asp-action="RoleEdit">@T["Role Edit"]</a>
		</div>
		<div class="col">
			<a class="btn btn-success w-100" asp-area="" asp-controller="Admin" asp-action="RoleAssign" model="Model">@T["Role Assign"]</a>
		</div>
		<div class="col">
			<a class="btn btn-success w-100" asp-area="" asp-controller="Admin" asp-action="RoleCreate">@T["Role Create"]</a>
		</div>
	</div>
</div>